<app-comic-bubble>
  <ng-container
    *ngIf="tweets.length > 0; else loading"
  >
    <div class="row">
      <div
        *ngFor="let tweet of tweets"
        class="col-md-6 col-lg-4"
      >
        <article
          class="box"
          (dblclick)="toggleTrollFace($event)"
        >
          <app-message
            [id]="tweet.id"
            [text]="tweet.text"
        ></app-message>
        </article>
      </div>
    </div>
  </ng-container>
</app-comic-bubble>

<ng-template #loading>
  <div class="loading">
    <p>Recherche de polémiques en cours...</p>
    <app-loader></app-loader>
  </div>
</ng-template>
