:host {
  display: block;
  height: 100%;
  width: 100%;
}

.loading {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
  height: 100%;
  width: 100%;

  p {
    font-family: var(--font-system);
  }

  app-loader {
    width: 5rem;
  }
}

article {
  transition: all 1sec;
}
.troll-face {
  background-image: url(/assets/trollface.png);
  background-repeat: no-repeat;
  background-size: contain;
  app-message {
    opacity: 0;
  }
}

app-message {
  transition: all 1s;
  margin: 0 0 1.5rem 0;
  opacity: 1;
}
