:host {
  display: block;
  height: 100%;
  position: relative;
}

.balloon {
  background: var(--bubble-color);
  border-radius: 1rem;
  box-shadow: 0 .25rem .5rem inset rgba(0, 0, 0, .2);
  color: var(--x-dark);
  display: block;
  height: calc(100% - 1.5rem);
  padding: .75rem;
  position: relative;

  .content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  @media (orientation: landscape) {
    height: 100%;
  }

}

.queue {
  border-left : 1rem solid transparent;
  border-right : 1rem solid transparent;
  border-top : 1rem solid var(--bubble-color);
  bottom: 0;
  display: block;
  height : 0;
  left: 75%;
  position: absolute;
  transform: scaleY(3.01);
  width : 0;

  @media (min-width: 600px) {
    left: 25%;
  }

  @media (orientation: landscape) {
    // display: none;
    bottom: 15%;
    left: -2em;
    transform: scaleX(2.5) rotate(90deg);
  }
}
