:host {
  display: block;
  min-height: 1em;
  min-width: 3em;
  position: relative;
}

@keyframes loading {
  from {
    color: var(--dark-yellow);
    opacity: .2;
    transform: scale(.5);
  }
  to   {
    color: var(--yellow);
    opacity: 1;
    transform: scale(.75);

  }
}

.stars {

  display: flex;

  app-star {
    animation: 1s ease infinite alternate loading;
    color: var(--dark-yellow);
    height: 3rem;
    opacity: 0;

    &:nth-child(1) {
      animation-delay: .25s;
    }
    &:nth-child(2) {
      animation-delay: .5s;
    }
    &:nth-child(3) {
      animation-delay: .75s;
    }
  }

}
