:host {
  background-image: url("/assets/donald.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: bottom center;
  display: block;
  height: 100vh;
  width: 100vw;

  @media (min-width: 600px), (orientation: landscape) {
    background-size: 50vw;
    background-position: bottom left;
  }

  @media (min-width: 1599px) {
    background-size: 33vw;
    // background-position: bottom left;
  }
}

main {
  height: 65vh;
  padding: .75rem;

  @media (orientation: landscape) {
    height: 100vh;
    width: 50vw;
    margin-left: 50vw;
  }

  @media (orientation: landscape) and (min-width: 1599px) {
    height: 100vh;
    width: 66vw;
    margin-left: 33vw;
  }
}
