:host {
  display: block;
  // background: var(--x-light);
  color: var(--dark);
  padding: .75rem;
  // border-radius: .75rem;
  overflow-wrap: break-word;
}

#tweet-err {
  color: var(--red);
  font-weight: bold;
}

p {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.3rem;
  hyphens: auto;
  text-transform: uppercase;

  &::after {
    border-bottom: 1px solid var(--light);
    content: '';
    display: block;
    width: 60%;
    margin: 1.5rem auto;

  }
}
