/* You can add global styles to this file, and also import other style files */
:root {
  --x-dark: #000;
  --dark: #0f1647;
  --light: #dedede;
  --x-light: #fff;
  --red: #be0a2f;
  --yellow: #f6d800;
  --dark-yellow: #b79148;
  --green: #60a633;

  --bubble-color: var(--x-light);

  --font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-serif: "Merriweather", serif;

  --bp-small: 600px;

}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--font-serif);
  font-size: 100%;
  margin: 0;
}

p {
  margin: 0 0 .375rem;
}
